src/main/resources/pokemon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://pokemon.com/api/soap"
           targetNamespace="http://pokemon.com/api/soap"
           elementFormDefault="qualified">

    <!-- Request Types -->
    <xs:element name="getAbilitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBaseExperienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHeldItemsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLocationAreaEncountersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Response Types -->
    <xs:element name="getAbilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abilities" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBaseExperienceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="baseExperience" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHeldItemsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="heldItems" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLocationAreaEncountersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="locationAreaEncounters" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>